<header>
  <div class="wrapper">
    <div class="main-header">
      <div class="logo">
        <a href="/">
          <img src="src/assets/images/logo.png" alt=""/>
        </a>
      </div>
      <div class="lang dropdown">
        <a href="#">ENG</a>
      </div>
      <nav>
        <ul>
          <li class="dropdown"><a href="#">infrastructure</a></li>
          <li class="dropdown"><a href="#">community</a></li>
          <li class="dropdown"><a href="#">foundation</a></li>
        </ul>
      </nav>
      <div class="profile">
        <a href="#" (click)="openForm()">profile</a>
      </div>
    </div>
  </div>
</header>
<section class="promo">
  <div class="wrapper">
    <h1>Startup founders school</h1>
    <div class="promo__memo">
      A unique combination of <span>theory</span> and
      <span>practice</span> in growing startups in the US
    </div>
    <div class="ceo">
      <div class="ceo__info">
        <div class="ceo__title">Anastasiya Bathina</div>
        <div class="ceo__position">CEO and founder at InMind.pro</div>
        <div class="ceo__link">view all alumni</div>
      </div>
      <div class="ceo__photo">
        <img src="src/assets/images/ceo-photo.png" alt=""/>
      </div>
      <div class="ceo__memo">
        <div class="ceo__success">
          Raised $ 100K on the seed round and are working with Google and
          Microsoft to sell their solution.
        </div>
        <div class="ceo__bio__title">Biography</div>
        <p class="ceo__bio__text">
          Co-founder of SendPulse and Snovao. Business Angel, has invested
          in more than 10 projects. He is one of the TOP 5 email marketing
          specialists. The first company StaffCop (software development in
          the field of information security) was founded in 2006.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="community bg__gray">
  <div class="wrapper">
    <div class="section__title">Our community doing the most</div>
    <div class="section__memo">
      High-Quality Founders is the new asset making great impact in global
      economy.
    </div>
    <div class="section__link">Community news</div>
    <div class="community__records">
      <div class="community__card">
        <div class="community__card__text">
          The School Portfolio Project known as Butler received a $ 5,000
          grant from Starta School
        </div>
        <div class="community__card__date">Apr 8, 2021</div>
        <div class="community__card__logo"></div>
      </div>
      <div class="community__card">
        <div class="community__card__text">
          Eduzo found new trends in the EduTech and Collaborative tools
          markets and received commits from investors
        </div>
        <div class="community__card__date">Apr 22, 2021</div>
        <div class="community__card__logo">
          <img src="src/assets/images/eduzo-logo.png" alt=""/>
        </div>
      </div>
      <div class="community__card">
        <div class="community__card__text">
          Mediabooster just released mobile app for small business owners
          and enterpreneurs for App Store
        </div>
        <div class="community__card__date">May 2, 2021</div>
        <div class="community__card__logo">
          <img src="src/assets/images/booster-logo.png" alt=""/>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="learning">
  <div class="wrapper">
    <div class="section__title">Learning by doing in real US startup</div>
    <div class="section__memo">
      Take your executive role in real life startup and learn your
      leadership skills.
    </div>
    <div class="section__link">SCHOOL programm</div>
    <div class="card__wrapper">
      <div class="card card__red">
        <div class="card__title">Startup Founders</div>
        <div class="card__text">
          A Program for Future Startup Founders and Executives
        </div>
        <div class="card__link"></div>
      </div>
      <div class="card card__blue">
        <div class="card__title">Product Leaders</div>
        <div class="card__text">
          A Program for Tech Leaders and Future Product Developers
        </div>
        <div class="card__link"></div>
      </div>
      <div class="card card__green">
        <div class="card__title">Venture Investors</div>
        <div class="card__text">
          A Program for Angel and Venture Investors in early and late stage
          Startups
        </div>
        <div class="card__link"></div>
      </div>
    </div>
  </div>
</section>
<section class="startup bg__gray">
  <div class="wrapper">
    <div class="section__title">Your startup environment</div>
    <div class="section__memo">
      Vital settings for founders and investors where you not be left alone
      and find support.
    </div>
    <div class="section__link">ecosystem events</div>
    <div class="event__grid">
      <div class="event__youtube">
        <img src="src/assets/images/event-youtube.png" alt=""/>
      </div>
      <div class="event__card event__card__green">
        <div class="event__date">02<span>jun</span></div>
        <div class="event__title">How do I find the Value Proposition?</div>
        <div class="event__text">
          Сonducted by the program director of the school.
        </div>
        <div class="event__logo">
          <img src="src/assets/images/logo-small.png" alt=""/>
        </div>
      </div>
      <div class="event__card event__card__ny">
        <div class="event__date">16<span>jun</span></div>
        <div class="event__title">Как готовиться к фандрайзингу</div>
        <div class="event__text"></div>
        <div class="event__logo">
          <img src="src/assets/images/logo-starts.png" alt=""/>
        </div>
      </div>
      <div class="event__card event__card__blue">
        <div class="event__date">26<span>may</span></div>
        <div class="event__title">Public lesson in сlevel.school</div>
        <div class="event__text">
          Сonducted by the program director of the school.
        </div>
        <div class="event__logo">
          <img src="src/assets/images/logo-small.png" alt=""/>
        </div>
      </div>
      <div class="event__card event__card__office">
        <div class="event__date">20<span>may</span></div>
        <div class="event__title">Demoday in Starta Head Office</div>
        <div class="event__logo">
          <img src="src/assets/images/logo-starts.png" alt=""/>
        </div>
      </div>
      <div class="event__what">What is Starta ecosystem?</div>
    </div>
  </div>
</section>
<section class="experience">
  <div class="wrapper">
    <div class="section__title">
      A pivotal experience in practical leadership
    </div>
    <div class="section__memo">
      Built around an Accelerator, teaches through action. No student wants
      to be a passive learner.
    </div>
    <div class="section__link">practicing yor skills</div>
    <div class="experience__youtube">
      <img src="src/assets/images/youtube-big.png" alt=""/>
      <p>Demo class. Connecting your voice to your pitch.</p>
    </div>
    <div class="experience__startup">
      <div class="startup__wrapper">
        <div class="startup__title">Startup Execution in NYC or Berlin</div>
        <div class="startup__text">
          You chose the market and future offline program practice whether
          you want to market your startup in US or Europe foil.
        </div>
        <div class="startup__link"></div>
      </div>
    </div>
  </div>
</section>
<section class="funds">
  <div class="wrapper">
    <div class="section__title">Funds and grants</div>
    <div class="section__memo">
      Horizontal connections between Starta communities brings you more ways
      to support your startup.
    </div>
    <div class="section__link">INSIDE OUT SUPPORT</div>
    <div class="card__wrapper">
      <div class="card card__red">
        <div class="card__title">Scholarships</div>
        <div class="card__text">
          Our generous financial aid packages reflect our commitment to
          giving everyone an equal chance.
        </div>
        <div class="card__link"></div>
      </div>
      <div class="card card__blue">
        <div class="card__title">Founders Grants</div>
        <div class="card__text">
          Получают наши студенты и стартапы от инфраструктуры Starta или
          инвесторов экосистемы
        </div>
        <div class="card__link"></div>
      </div>
      <div class="card card__green">
        <div class="card__title">Angel Investments</div>
        <div class="card__text">
          Стартап в ходе прохождения программы может получить follow-on
          investments от Starta Angel Club
        </div>
        <div class="card__link"></div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="wrapper">
    <div class="top">
      <div class="addresses">
        <ul>
          <li>
            <div class="office-name">New York HeadOffice</div>
            <div class="office-address">
              220 E 23rd street, #400, New York, NY 10010
            </div>
          </li>
          <li>
            <div class="office-name">Berlin Startup Hub</div>
            <div class="office-address">
              Friedrichstraße 176, 10117 Berlin, Mitte
            </div>
          </li>
          <li>
            <div class="office-name">Moscow Office</div>
            <div class="office-address">
              Zemlyanoy Val St, 8, Moskva, Russia, 105064
            </div>
          </li>
        </ul>
      </div>
      <div class="contact">
        <div class="contact__email">
          <a href="mailto:office@clevel.school">office@clevel.school</a>
        </div>
        <ul class="contact__socials">
          <li><img src="src/assets/images/icon-fb.png" alt=""></li>
          <li><img src="src/assets/images/icon-insta.png" alt=""></li>
          <li><img src="src/assets/images/icon-linkedin.png" alt=""></li>
          <li><img src="src/assets/images/icon-youtube.png" alt=""></li>
        </ul>
        <div class="contact__logo">
          <img src="src/assets/images/footer-logo-start.png" alt="">
        </div>
      </div>
    </div>
    <div class="bottom">clevel.school &copy; 2021</div>
  </div>
</footer>
